doctype html
html
    head
        title Title goes here...
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        // Stylesheets
        include stylesheets.pug

    body
        // Header
        include header.pug
        // Header end

        // Content
        block content
        // Content end

        // Footer
        include footer.pug
        // Footer end

        // Scripts
        include scripts.pug