@font-face {
  font-family: "Raleway";
  src: url(../fonts/raleway-regular.woff);
}
@font-face {
  font-family: "Moon";
  src: url(../fonts/moon.woff);
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

html, body {
  font-size: 16px;
  font-family: "Raleway", serif;
  color: #4a4a4a;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", serif;
  font-weight: 600;
}

.-margin-top-10 {
  margin-top: 10px !important;
}

.-margin-top-20 {
  margin-top: 20px !important;
}

.-margin-top-30 {
  margin-top: 30px !important;
}

.-margin-top-40 {
  margin-top: 40px !important;
}

.-margin-top-50 {
  margin-top: 50px !important;
}

.-margin-bottom-10 {
  margin-bottom: 10px !important;
}

.-margin-bottom-20 {
  margin-bottom: 20px !important;
}

.-margin-bottom-30 {
  margin-bottom: 30px !important;
}

.-margin-bottom-40 {
  margin-bottom: 40px !important;
}

.-margin-bottom-50 {
  margin-bottom: 50px !important;
}

.uk-container {
  max-width: 980px;
}

.uk-form .uk-form-width-large {
  width: 100%;
}
.uk-form textarea {
  min-height: 150px;
}
.uk-form input[type=submit],
.uk-form button[type=submit] {
  border-radius: 5px;
  background-color: #2eb6d1;
  opacity: 1;
  padding: 15px 35px;
  text-align: center;
  color: #fff;
  border: none;
  height: auto;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.uk-form input[type=submit]:hover,
.uk-form button[type=submit]:hover {
  background: #2897bd;
}
.uk-form input[type=submit].not-round,
.uk-form button[type=submit].not-round {
  border-radius: 0;
}
.uk-form input[type=text],
.uk-form input[type=password],
.uk-form input[type=email],
.uk-form input[type=url],
.uk-form input[type=search],
.uk-form input[type=tel],
.uk-form input[type=number],
.uk-form input[type=datetime],
.uk-form input[type=datetime-local],
.uk-form input[type=date],
.uk-form input[type=month],
.uk-form input[type=time],
.uk-form input[type=week],
.uk-form input[type=color],
.uk-form select,
.uk-form textarea {
  font-size: 14px;
}

.circle {
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  line-height: 80px;
}
.circle img {
  max-width: 40%;
}
.circle:hover {
  background: #2eb6d1;
}

.circle-dark {
  background: #4a4a4a;
}

.devider-top-center::before {
  display: block;
  content: "";
  width: 10%;
  height: 2px;
  margin: 15px auto 20px;
  background-color: #2eb6d1;
}

.devider-top-left::before {
  display: block;
  content: "";
  width: 10%;
  height: 2px;
  margin: 15px 0 20px;
  background-color: #2eb6d1;
}

.devider-top-left-light::before {
  display: block;
  content: "";
  width: 10%;
  height: 2px;
  margin: 15px 0 20px;
  background-color: #fff;
}

.devider-bottom-center::after {
  display: block;
  content: "";
  width: 10%;
  height: 2px;
  margin: 15px auto 20px;
  background-color: #2eb6d1;
}

.form-transparent-full input[type=text],
.form-transparent-full input[type=password],
.form-transparent-full input[type=email],
.form-transparent-full input[type=url],
.form-transparent-full input[type=search],
.form-transparent-full input[type=tel],
.form-transparent-full input[type=number],
.form-transparent-full input[type=datetime],
.form-transparent-full input[type=datetime-local],
.form-transparent-full input[type=date],
.form-transparent-full input[type=month],
.form-transparent-full input[type=time],
.form-transparent-full input[type=week],
.form-transparent-full input[type=color],
.form-transparent-full select,
.form-transparent-full textarea {
  background: transparent;
  border: 1px solid #4a4a4a;
  font-size: 12px;
}
.form-transparent-full input[type=text]:focus,
.form-transparent-full input[type=password]:focus,
.form-transparent-full input[type=email]:focus,
.form-transparent-full input[type=url]:focus,
.form-transparent-full input[type=search]:focus,
.form-transparent-full input[type=tel]:focus,
.form-transparent-full input[type=number]:focus,
.form-transparent-full input[type=datetime]:focus,
.form-transparent-full input[type=datetime-local]:focus,
.form-transparent-full input[type=date]:focus,
.form-transparent-full input[type=month]:focus,
.form-transparent-full input[type=time]:focus,
.form-transparent-full input[type=week]:focus,
.form-transparent-full input[type=color]:focus,
.form-transparent-full select:focus,
.form-transparent-full textarea:focus {
  background: transparent;
}

.form-transparent {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 15px;
}
.form-transparent input[type=text],
.form-transparent input[type=password],
.form-transparent input[type=email],
.form-transparent input[type=url],
.form-transparent input[type=search],
.form-transparent input[type=tel],
.form-transparent input[type=number],
.form-transparent input[type=datetime],
.form-transparent input[type=datetime-local],
.form-transparent input[type=date],
.form-transparent input[type=month],
.form-transparent input[type=time],
.form-transparent input[type=week],
.form-transparent input[type=color],
.form-transparent select,
.form-transparent textarea {
  border: 1px solid #f2f2f2;
  background-color: rgba(246, 246, 246, 0.49);
  font-size: 14px;
}
.form-transparent input[type=text]:focus,
.form-transparent input[type=password]:focus,
.form-transparent input[type=email]:focus,
.form-transparent input[type=url]:focus,
.form-transparent input[type=search]:focus,
.form-transparent input[type=tel]:focus,
.form-transparent input[type=number]:focus,
.form-transparent input[type=datetime]:focus,
.form-transparent input[type=datetime-local]:focus,
.form-transparent input[type=date]:focus,
.form-transparent input[type=month]:focus,
.form-transparent input[type=time]:focus,
.form-transparent input[type=week]:focus,
.form-transparent input[type=color]:focus,
.form-transparent select:focus,
.form-transparent textarea:focus {
  background: rgba(246, 246, 246, 0.59);
}

.section {
  padding: 60px 0;
}
.section .section-img-small {
  max-width: 50%;
}
@media only screen and (max-width: 960px) {
  .section .section-img-small {
    max-width: 70%;
  }
}
@media only screen and (max-width: 768px) {
  .section .section-img-small {
    max-width: 80%;
  }
}
.section .section-img-medium {
  max-width: 70%;
}
.section .section-img-large {
  max-width: 100%;
}
@media only screen and (max-width: 960px) {
  .section .section-img-large {
    max-width: 80%;
  }
}
@media only screen and (max-width: 768px) {
  .section .section-img-large {
    max-width: 100%;
  }
}
.section .section-small {
  color: #2eb6d1;
  font-size: 14px;
  text-transform: uppercase;
  display: block;
}
.section .section-small-light {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  display: block;
}
.section .section-title {
  margin: 0;
  color: #4a4a4a;
  font-size: 25px;
  line-height: 36px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.section .section-title-light {
  margin: 0;
  color: #fff;
  font-size: 25px;
  line-height: 36px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.section .section-title-small {
  color: #4a4a4a;
  font-size: 19px;
  font-weight: 400;
}
.section .section-title-small-light {
  color: #fff;
  font-size: 19px;
  font-weight: 400;
}
.section .section-text {
  color: #4a4a4a;
  line-height: 21px;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0;
  text-indent: 0;
}
.section .section-text-light {
  color: #fff;
  line-height: 21px;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0;
  text-indent: 0;
}
.section .section-small-info {
  margin: 0 auto;
}
@media only screen and (max-width: 768px) {
  .section .section-small-info {
    width: 100%;
  }
}
.section.section-info-block-light {
  padding: 35px 0;
  background-color: #f2f2f2;
  border-style: solid solid solid none;
  border-width: 1px 1px 1px 3px;
  border-color: #dedede #dedede #dedede #2eb6d1;
}
.section.section-info-block-dark {
  background-color: #292828;
  padding: 35px 0;
}

.section-small {
  padding: 30px 0;
}

.header {
  padding: 25px 0;
}
@media only screen and (max-width: 960px) {
  .header .header-left {
    text-align: right;
  }
}
.header .logo {
  width: 80%;
}
.header .uk-navbar {
  background: transparent;
  margin-top: 12px;
}
.header .uk-navbar li a {
  line-height: 1;
  height: auto;
  color: #4a4a4a;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: 13px;
  margin: 0 30px 0 0;
  text-transform: uppercase;
  cursor: pointer;
}
.header .uk-navbar li a:hover {
  color: #2897bd;
}
.header .uk-navbar li a > i {
  float: right;
  font-size: 18px;
  margin: -2px 0 0 5px;
  color: #4a4a4a;
}
.header .uk-navbar li.uk-active a {
  color: #2897bd;
}
.header .uk-navbar li:last-child a {
  margin: 0;
}
.header .uk-dropdown {
  top: 42px !important;
  background: #fff;
}
.header .uk-dropdown ul li {
  padding: 10px 15px;
}
.header .uk-navbar-toggle {
  height: auto;
  padding: 0;
}

.header-info {
  background-size: cover;
}
.header-info .header-info-overlay {
  background: rgba(0, 0, 0, 0.45);
  width: 100%;
  height: 100%;
  position: relative;
  padding: 100px 0;
}
.header-info .header-info-title {
  color: #fff;
  width: 60%;
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 600;
}
@media only screen and (max-width: 768px) {
  .header-info .header-info-title {
    width: 100%;
  }
}
.header-info .header-info-text {
  color: #fff;
  width: 50%;
  margin: 0 auto;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
}
@media only screen and (max-width: 768px) {
  .header-info .header-info-text {
    width: 100%;
  }
}

.uk-offcanvas-bar {
  background: #fff;
}

.footer .footer-top {
  background-color: #292828;
  color: #828282;
}
.footer .footer-info-title {
  color: #b3b4b5;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
}
.footer .unstyled-link {
  color: #828282;
  font-size: 16px;
  text-decoration: none;
}
.footer .unstyled-link:hover {
  color: #2897bd;
}
.footer .footer-info {
  color: #828282;
  font-size: 16px;
}
.footer .footer-info > a {
  margin-left: 10px;
}
.footer .footer-bottom {
  background-color: #212121;
}
.footer .footer-bottom .uk-navnar ul li a {
  height: 20px;
  line-height: 20px;
  cursor: pointer;
  color: #828282;
  background: transparent;
  font-size: 10px;
  border-right: 1px solid rgba(173, 175, 179, 0.09);
}
.footer .footer-bottom .uk-navnar ul li:last-child a {
  border-right: none;
}
.footer .footer-bottom .uk-navnar ul li:hover a {
  background: transparent;
  color: #339ce1;
}
.footer .footer-bottom .uk-navnar ul li.uk-active a {
  background: transparent;
  color: #339ce1;
}
.footer .footer-bottom .copyright {
  font-size: 13px;
  line-height: 20px;
  color: #828282;
}

.our-services {
  background: url("../images/services-bg.png");
}
.our-services .article {
  width: 70%;
  display: inline-block;
}
.our-services .article p {
  font-weight: 700;
  text-transform: uppercase;
  color: #4a4a4a;
}
@media only screen and (max-width: 768px) {
  .our-services .article {
    width: 100%;
  }
}

.callback-section {
  background-image: url("../images/callback-bg.jpg");
  background-size: cover;
  background-position: top center;
}
