extends layouts/app.pug

block content
    section(style="background-image: url('images/about-page-bg.jpg');").header-info
        .header-info-overlay
            .uk-container.uk-container-center
                h1.header-info-title.uk-text-center О НАС

    .section
        .uk-container.uk-container-center
            h3.section-title.uk-text-center ЗНАКОМЬТЕСЬ
            p.devider-top-center.uk-text-center «ВерсткаСайта.ру» в текущем виде выросли из агенства по front-end разработке. Основные наши клиенты были сторонние агенства и мы выполняли работу для них.
            p.uk-text-center Стремительно набрали солидную клиентскую базу, реализовали качественные кейсы и взяли новое направление — мобильная разработка. Мы нацелены на прозрачное и долгосрочное сотрудничество с клиентами, основанное на доверии и взаимопонимании, а также мы ставим увеличение показателей бизнеса наших клиентов в приоритетные задачи своей работы.