extends layouts/app.pug

block content
    section(style="background-image: url('images/mobilnye-sajty-bg.jpg');").header-info.section-cover
        .section-overlay
            .uk-container.uk-container-center
                h1.header-info-title.uk-text-center Адаптация сайта под мобильные устройства
                p.header-info-text.devider-top-center.uk-text-center Идея создания отдельных «мобильных» версий сайтов устарела! Правильный подход – один сайт с разным отображением страниц, в зависимости от типа устройства для просмотра.

    section.section
        .uk-container.uk-container-center
            p.section-text.uk-text-center Современный веб-сайт должен одинаково хорошо и корректно работать не только на ПК, но и на разнообразных мобильных устройствах. С помощью качественной адаптивной верстки мы готовы модернизировать ваш сайт, обеспечив оптимальную работу страниц на планшетах и мобильных телефонах.

    section.section.not-boxed
        .uk-container.uk-container-center
            .uk-grid.uk-grid-large.uk-grid-width-small-1-1.uk-grid-width-medium-1-2(data-uk-grid-margin)
                div.uk-text-center
                    img(src="images/adaptirovanie-sajta-img-1.png" alt="")
                div
                    h3.section-title.uk-text-center Что мы предлагаем?
                    p.devider-top-center
                    ul
                        li доработку дизайна веб-страниц под мобильные дисплеи;
                        li адаптивную верстку с учетом доработок в дизайне. При этом работа сайта на обычных мониторах ПК останется неизменной;
                        li внедрение новой верстки в код вашего сайта (на тестовом сервере);
                        li тестовую отработку ошибок (тестируем на 60-ти разнообразных устройствах);
                        li перенос готового доработанного сайта на рабочий сервер.

    section.section.section-info-block-blue
        .uk-container.uk-container-center
            h3.ection-title-small-light.uk-text-center.-text-light РАБОТАТЬ С НАМИ - ПРОСТО. СДАЕМ ПРОЕКТЫ В СРОК. КОНТРОЛИРУЕМ КАЧЕСТВО

    section.section.not-boxed.uk-hidden-small.grey-bg
        .uk-container.uk-container-center.uk-text-center
            img(src="images/adaptirovanie-sajta-img-5.jpg" alt="")

    section.section
        .uk-container.uk-container-center
            h3.section-title.uk-text-center Что получают наши клиенты?
                br
                | Универсальный сайт с гарантией!
            p.section-text.devider-top-center.uk-text-center Вы получите универсальный интернет-сайт, который идеально отображается и работает на любых современных ПК, планшетах, мобильных. Мы об этом можем говорить с полной уверенностью, поскольку для тестов используем 60 устройств.
            h3 ПЛЮСЫ АДАПТИРОВАННОГО САЙТА:
            ul
                li удобный интерфейс, оптимизированный для просмотра на мобильных экранах;
                li понятная и удобная навигация;
                li возможность отключать малозначимый контент, чтобы акцентировать внимание посетителей на главном;
                li быстрая загрузка страниц на мобильных устройствах;
                li благосклонное отношение со стороны поисковиков;
                li рост конверсии сайта благодаря увеличению числа «мобильных» клиентов.
            p.section-text Важный момент – адаптация дизайна страниц к компактным экранам. У небольших дисплеев имеется своя специфика: просматривать веб-страницы можно свайпом, и для их оптимального отображения отдельные элементы дизайна лучше скрыть, перенести, преобразовать. Фактически адаптивная верстка страницы позволяет упростить навигацию и улучшить интерфейс, сделав его максимально удобным для пользователей.
            p.section-text После модернизации ваш сайт будет проходить любые проверки поисковых систем. Например, Google Mobile Friendly. А главное – у вас появится множество довольных и благодарных клиентов, использующих мобильные устройства!

    section.section.has-bg(style="background-image: linear-gradient(rgba(0, 0, 0, 0.63), rgba(0, 0, 0, 0.36)), url(/images/adaptirovanie-sajta-img-2.jpg);")
        .uk-container.uk-container-center
            h3.section-title.devider-bottom-center-light.-text-light.uk-text-center Почему стоит заказать адаптивную верстку сайта?
            .uk-grid.uk-grid-match.uk-grid-large.uk-grid-width-small-1-2.uk-grid-width-medium-1-2(data-uk-grid-margin).uk-margin-large-top
                div
                    .list-inline-right-icon
                        div: i.uk-icon-check-square-o
                        div
                            p.page-title-smaller.uk-text-left.-text-light ОТВЕЧАЕТ ВСЕМ СОВРЕМЕННЫМ ТРЕБОВАНИЯМ
                            p.-text-light Качественная вёрстка под ретина дисплеи. Высокая скорость загрузки со всех устройств.
                div
                    .list-inline-right-icon
                        div: i.uk-icon-check-square-o
                        div.uk-text-left
                            p.page-title-smaller.uk-text-left.-text-light ОТВЕЧАЕТ ВСЕМ СОВРЕМЕННЫМ ТРЕБОВАНИЯМ
                            p.-text-light Качественная вёрстка под ретина дисплеи. Высокая скорость загрузки со всех устройств.
                div
                    .list-inline-right-icon
                        div: i.uk-icon-check-square-o
                        div
                            p.page-title-smaller.uk-text-left.-text-light ОТВЕЧАЕТ ВСЕМ СОВРЕМЕННЫМ ТРЕБОВАНИЯМ
                            p.-text-light Качественная вёрстка под ретина дисплеи. Высокая скорость загрузки со всех устройств.
                div
                    .list-inline-right-icon
                        div: i.uk-icon-check-square-o
                        div
                            p.page-title-smaller.uk-text-left.-text-light ОТВЕЧАЕТ ВСЕМ СОВРЕМЕННЫМ ТРЕБОВАНИЯМ
                            p.-text-light Качественная вёрстка под ретина дисплеи. Высокая скорость загрузки со всех устройств.

    section.section.has-bg(style="background-image: linear-gradient(rgba(255, 255, 255, 0.61), rgba(255, 255, 255, 0.90)), url('images/mobilnie-saity-bg-1.jpg')")
        .uk-container.uk-container-center
            h2.section-title.uk-text-center ПРЕИМУЩЕСТВА НАШИХ САЙТОВ
            .uk-grid.uk-grid-small.uk-margin-large-top(data-uk-grid-margin)
                .uk-width-small-1-1.uk-width-medium-1-3.uk-text-right
                    .uk-list.auto-height-child
                        li.list-inline-left-icon
                            div
                                p.page-title-smaller.uk-text-right.uk-text-uppercase Удобный мобильный интерфейс
                            div
                                i.uk-icon-check-square-o
                        li.list-inline-left-icon
                            div
                                p.page-title-smaller.uk-text-right.uk-text-uppercase Понятная
                                    br
                                    | навигация
                            div
                                i.uk-icon-reply-all
                        li.list-inline-left-icon
                            div
                                p.page-title-smaller.uk-text-right.uk-text-uppercase Возможно отключить маловажный контент
                                p Дает возможность сосредоточить внимание пользователя на главном
                            div
                                i.uk-icon-bullhorn

                .uk-width-small-1-1.uk-width-medium-1-3.uk-text-center
                    img(src="images/mobilnie-saity-phone.png" class="-img-mw300")

                .uk-width-small-1-1.uk-width-medium-1-3.uk-text-left
                    .uk-list.auto-height-child
                        li.list-inline-right-icon
                            div
                                i.uk-icon-users
                            div
                                p.page-title-smaller.uk-text-left.uk-text-uppercase Легко «сканируемый» поисковиками
                        li.list-inline-right-icon
                            div
                                i.uk-icon-newspaper-o
                            div
                                p.page-title-smaller.uk-text-left.uk-text-uppercase Быстрая
                                    br
                                    | загрузка
                        li.list-inline-right-icon
                            div
                                i.uk-icon-mobile-phone
                            div
                                p.page-title-smaller.uk-text-left.uk-text-uppercase Увеличивается конверсия мобильных пользователей
                                p засчёт того что сайты ваших конкурентов не адаптивные

    section.section
        .uk-container.uk-container-center
            .uk-grid.uk-grid-large(data-uk-grid-margin)
                div.uk-width-small-1-1.uk-width-medium-1-2
                    h3.section-title КАК МЫ РАБОТАЕМ?
                    p.devider-top-left
                    ul
                        li клиент ставит задачу (ТЗ, бриф, материалы);
                        li подписываем договор и получаем предоплату;
                        li осуществляем адаптивную верстку веб-сайта в четком соответствии с техническими требованиями;
                        li тестируем готовое решение на 60-ти устройствах;
                        li переносим адаптированный сайт на ваш сервер.
                    p.section-text Если клиент желает отслеживать выполнение работ, мы подключаем его к нашей системе управления проектами.
                div.uk-width-small-1-1.uk-width-medium-1-2.uk-hidden-small
                    img(src="images/adaptirovanie-sajta-img-4.png" alt="")

    section.section
        .uk-container.uk-container-center
            .uk-grid.uk-grid-large(data-uk-grid-margin)
                div.uk-width-small-1-1.uk-width-medium-1-3
                    img(src="images/adaptirovanie-sajta-img-3.png" alt="")
                div.uk-width-small-1-1.uk-width-medium-2-3
                    h3.section-title НАШИ ПРЕИМУЩЕСТВА
                    p.devider-top-left
                    ul
                        li профессиональный подход и нацеленность на результат;
                        li гарантированно высокое качество адаптивной верстки с возможностью работы на любых мобильных устройствах;
                        li ориентированность на удобство клиента;
                        li ответственность, строгое соблюдение сроков;
                        li демократичная цена и работа с постоянными клиентами без предоплаты.
                    p.section-text В процессе работы над проектами мы постоянно находимся на связи с заказчиком, учитываем особенности клиента при организации рабочего процесса.

    section(style="background-image: url('images/about-section-bg.jpg');").section-cover-fixed
        .section-overlay
            .uk-container.uk-container-center
                h3.section-title.devider-bottom-center.uk-text-center.-text-light О нас:
                ul.uk-grid.uk-grid-large.uk-grid-width-small-1-2.uk-grid-width-medium-1-2.uk-grid-width-large-1-4.uk-margin-large-top(data-uk-grid-margin data-uk-grid-match)
                    li.uk-text-center
                        img(src="images/icon-user.svg" alt="").-margin-bottom-20
                        p.-text-light.-text-large 6
                        .devider-top-center.-margin-bottom-30.-margin-top-30
                        p.-text-light ЧЕЛОВЕК В ШТАТЕ
                    li.uk-text-center
                        img(src="images/icon-flag.svg" alt="").-margin-bottom-20
                        p.-text-light.-text-large 58
                        .devider-top-center.-margin-bottom-30.-margin-top-30
                        p.-text-light ЛЕТ — СУММАРНЫЙ ОПЫТ РАБОТЫ
                    li.uk-text-center
                        img(src="images/icon-heart.svg" alt="").-margin-bottom-20
                        p.-text-light.-text-large 67
                        .devider-top-center.-margin-bottom-30.-margin-top-30
                        p.-text-light УСПЕШНО РЕАЛИЗОВАННЫХ ПРОЕКТА
                    li.uk-text-center
                        img(src="images/icon-portfolio.svg" alt="").-margin-bottom-20
                        p.-text-light.-text-large 2013
                        .devider-top-center.-margin-bottom-30.-margin-top-30
                        p.-text-light ГОД ОСНОВАНИЯ

    section.section
        .uk-container.uk-container-center
            div(data-uk-slideset="{default: 5, autoplay: true, autoplayInterval: 4000, animation: 'scale'}")
                ul.uk-grid.uk-slideset
                    li
                        img(src="/images/logo-1.jpg" alt="")
                    li
                        img(src="/images/logo-2.jpg" alt="")
                    li
                        img(src="/images/logo-3.jpg" alt="")
                    li
                        img(src="/images/logo-4.jpg" alt="")
                    li
                        img(src="/images/logo-5.jpg" alt="")
                    li
                        img(src="/images/logo-6.jpg" alt="")
                    li
                        img(src="/images/logo-7.jpg" alt="")
                    li
                        img(src="/images/logo-8.jpg" alt="")
                    li
                        img(src="/images/logo-9.jpg" alt="")
                    li
                        img(src="/images/logo-10.jpg" alt="")

    section.callback-section.section.section-light-font
        .uk-container.uk-container-center
            .uk-grid.uk-grid-margin.uk-grid-width-small-1-1.uk-grid-width-medium-1-2(data-uk-grid-margin)
                div
                    form.uk-form.form-transparent
                        .uk-form-row
                            input(type="text" placeholder="Ваше имя" required).uk-form-large.uk-form-width-large
                        .uk-form-row
                            input(type="email" placeholder="Ваш E-mail" required).uk-form-large.uk-form-width-large
                        .uk-form-row
                            input(type="text" placeholder="Ваш телефон" required).uk-form-large.uk-form-width-large
                        .uk-form-row
                            textarea(placeholder="Сообщение").uk-form-large.uk-form-width-large
                        .uk-form-row
                            input(type="submit" value="Отправить").uk-form-large
                div
                    small.section-small-text-light УБЕДИЛИ? ТОГДА ЗА РАБОТУ!
                    p.section-text-light Мы готовы приступить к верстке макета сайта, верстке страниц и интерфейса.
                    h3.section-title-light ОТПРАВЬТЕ ЗАЯВКУ
                    p.section-text-light на html-вёрсткуи получите SEO-оптимизацию кода бесплатно!
                    p.section-text-light.devider-top-left-light До конца акции осталось: