extends layouts/app.pug

block content
    section(style="background-image: url('images/pricelist-page-bg.jpg');").header-info.section-cover
        .section-overlay
            .uk-container.uk-container-center
                h1.header-info-title.uk-text-center СТОИМОСТЬ ВЁРСТКИ СТРАНИЦ САЙТА
                p.header-info-text.devider-top-center.uk-text-center Расчет стоимости верстки интернет-сайта зависит от суммарного объема работ и ряда специфических параметров. Оценивая проект, мы исходим из стоимости нормо-часа (одного часа работы). Таким образом, стоимость верстки будет прямо пропорциональна количеству часов, потраченных на работу.
    section.section.section-devided
        .uk-container.uk-container-center
            div.uk-text-center
                small.section-small-text НАШИ ЦЕНЫ НЕ ПРИВЯЗАНЫ К КУРСАМ ВАЛЮТ!
                h3.section-title ЦЕНА ОДНОГО НОРМО-ЧАСА – 800 РУБЛЕЙ.
                p.section-text.devider-top-center
                | Здесь стоит отметить следующее: сегодняшние требования к верстке значительно выросли, возникает множество нестандартных задач. Верстка сайтов зачастую выходит за границы типового написания HTML-кода и предполагает проведение объемной работы по фронтенд-разработке. Тем не менее, мы берем в работу все проекты, независимо от уровня сложности и известности бренда.

    section.section
        .uk-container.uk-container-center
            div.uk-text-center
                small.section-small-text ЦЕНА HTML ВЕРСТКИ САЙТА:
                h3.section-title ЧТО НА НЕЕ ВЛИЯЕТ?
                p.section-text.devider-top-center
                div.-margin-top-50
                    p.page-title ЧИСЛО СТРАНИЦ, СЛОЖНОСТЬ ДИЗАЙНА, НАЛИЧИЕ АНИМАЦИОННЫХ И ДРУГИХ ЭФФЕКТОВ
                    p.uk-text-left Время работы над различными макетами дизайна может сильно отличаться. В частности, верстка простой текстовой страницы отнимет заметно меньше времени, чем верстка большой страницы с анимационными эффектами и сложным дизайном. В отдельных случаях, когда макет выполнялся далеким от интернет-среды специалистом, дополнительное время будет потрачено на адаптацию элементов дизайна под веб-стандарты.
                div.-margin-top-50
                    p.page-title ШАБЛОННОСТЬ ВЕБ-СТРАНИЦ
                    p.uk-text-left Верстка шаблонных страниц, выполненных с использованием повторяющихся элементов, потребует намного меньше усилий и времени. Если сравнивать с веб-сайтом, где каждая страница обладает собственным сложным дизайном. В последнем случае стоимость верстки даже внутренних страниц будет сопоставима с оценкой верстки главной страницы сайта.
                div.-margin-top-50
                    p.page-title КАЧЕСТВО МАКЕТОВ ДИЗАЙНА
                    p.uk-text-left Если заказчик передает нам дизайнерские исходники в плохом состоянии, то может потребоваться дополнительное время на разбор этих материалов. Поэтому желательно предоставлять качественные макеты, удовлетворяющие стандартным требованиям.

    section.section.section-info-block-dark
        .uk-container.uk-container-center
            .uk-text-center
                a(href="#").uk-button.uk-button-large.button-dark.-text-upper.-text-letter-large Адаптация сайта под мобильные устройства

    section.section
        .uk-container.uk-container-center
            div.-margin-bottom-50
                p.page-title ПИКСЕЛЬ-ПЁРФЕКТ
                p.uk-text-left Данный метод предполагает верстку по принципу «1 в 1» к макету. Столь ювелирная работа потребует дополнительного времени. При этом нужно учитывать, что при таком способе верстки вид страниц веб-сайта в разных браузерах и устройствах может отличаться. Чтобы убрать данные отличия, также понадобится время.
            div.-margin-bottom-50
                p.page-title СТАТИЧНАЯ И АДАПТИВНАЯ ВЕРСТКА
                p.uk-text-left Стоимость адаптивной верстки заметно выше, поскольку она предполагает больший объем работ. Страницы сайта будут верстаться, условно говоря, под три вида экранов: ПК, планшет, мобильный.
            div.-margin-bottom-50
                p.page-title УРОВЕНЬ ТЕСТИРОВАНИЯ (БАЗОВЫЙ, ПОЛНЫЙ)
                p.uk-text-left При простой верстке тестирования базового уровня нередко оказывается достаточно. При этом тестировщик проверяет верстку только на основных устройствах. При работе с серьезными и сложными проектами проводится детальное (полное) тестирование на многочисленных устройствах. Это очень кропотливая деятельность, которая заметно увеличивает число рабочих часов верстальщика и тестировщика.

    section.section.section-info-block-light
        .uk-container.uk-container-center
            .section-small-info.uk-text-center
                .uk-text-center: a(href="#").uk-button.uk-button-primary.uk-button-large.-text-upper.-text-letter-large Заказать вёрстку веб-сайта

    section.section
        .uk-container.uk-container-center
            div.-margin-bottom-50
                p.page-title СПЕЦИФИЧЕСКИЕ ЗАПРОСЫ
                p.uk-text-left В нашу компанию входят высококлассные специалисты с большим практическим опытом. Тем не менее, в процессе работы у клиентов могут возникнуть не совсем стандартные запросы и технические требования. В качестве примера можно привести верстку с применением специальных фреймворков. Соответственно, такая работа также займет несколько больше времени, чем обычно, и будет стоить дороже.
            div.-margin-bottom-50
                p.page-title СОВМЕСТНАЯ РАБОТА СО СПЕЦИАЛИСТАМИ ЗАКАЗЧИКА
                p.uk-text-left Мы допускаем работу в связке со специалистами клиента, но здесь нужно определенное время на «притирку»: ваши технологии, ваша организация рабочего процесса и прочее. Следовательно, стоимость работы в таком режиме будет немного выше.
            div.-margin-bottom-50
                p.page-title УРОВЕНЬ СРОЧНОСТИ
                p.uk-text-left При работе на наших условиях в плане сроков мы используем стандартную стоимость нормо-часа. Если заказчику требуется срочная верстка и нашим специалистам придется работать во внеурочное время, стоимость часа работы будет выше.

    section.section.section-info-block-dark
        .uk-container.uk-container-center
            .uk-text-center
                a(href="#").uk-button.uk-button-large.button-dark.-text-upper.-text-letter-large Разработка мобильной версии сайта
    section.section
        .uk-container.uk-container-center
            div.-margin-bottom-50
                p.page-title ВЁРСТКА ПОД ДИСПЛЕИ RETINA
                p.uk-text-left В настоящее время наблюдается распространение мониторов, обладающих повышенной плотностью пикселей на дюйм. Для корректной работы сайта на таких экранах требуется доработка графики. Мы можем это сделать сами или можем объяснить вашему дизайнеру суть процесса. Это тоже займет определенное время.
            div.-margin-bottom-50
                p.page-title ДОПОЛНИТЕЛЬНЫЕ ТРЕБОВАНИЯ К ОТОБРАЖЕНИЮ В БРАУЗЕРАХ
                p.uk-text-left Как правило, мы выполняем верстку под все современные браузеры. Однако у клиентов иногда встречаются специальные требования. Например, сверстать страницы под Internet Explorer 7-8. Для этого верстальщику потребуется выделить дополнительное время.
            div.-margin-bottom-50
                p.page-title ДОРАБОТКА ВЕРСТКИ ВСЛЕДСТВИЕ НЕУДАЧНОЙ ИНТЕГРАЦИИ СПЕЦИАЛИСТАМИ ЗАКАЗЧИКА
                p.uk-text-left Иногда специалисты клиента, работая с нашей версткой, ее немножко «ломают». Результатом может стать некорректное отображение рабочего сайта. В этом нет ничего необычного или страшного: просто потребуется дополнительная доработка верстки на «живом» проекте. Во избежание таких ситуаций лучше привлекать для интеграции нашей верстки наших специалистов.

    section.section.section-info-block-light
        .uk-container.uk-container-center
            .section-small-info.uk-text-center
                .uk-text-center.-text-upper НА СВЯЗИ С 09.00 ДО 21.00 ЕЖЕДНЕВНО!

    section.section
        .uk-container.uk-container-center
            .uk-grid(data-uk-grid-margin)
                div.uk-width-small-1-1.uk-width-medium-2-3.uk-large-2-3
                    h3.section-title СКОЛЬКО СТОИТ ВЕРСТКА САЙТА?
                    p.section-text.devider-top-left
                    | Чтобы вам было проще сориентироваться, мы укажем стоимость верстки с базовым тестированием и удобными для нас сроками. Без интеграции с CMS и без особых технических требований.
                    h3 НАШИ РАСЦЕНКИ:
                    ul
                        li адаптивный лендинг – от 10 000 рублей (1 стр.)
                        li интернет-магазин (10-15 стр.) – от 30 000 рублей
                        li крупный интернет-сервис или корпоративный сайт (20-40 стр.) – от 60 000 рублей
                div.uk-text-center.uk-width-small-1-1.uk-width-medium-1-3.uk-large-1-3
                    img(src="images/desktop-2.jpg").section-img-large

    section.section.section-info-block-dark
        .uk-container.uk-container-center
            .uk-text-center
                .uk-text-center.-text-upper.-text-light ВЫ ПОЛУЧАЕТЕ 100% РАБОТАЮЩУЮ ВЁРСТКУ.

    section.section
        .uk-container.uk-container-center
            .uk-grid(data-uk-grid-margin)
                div.uk-text-center.uk-width-small-1-1.uk-width-medium-1-3.uk-large-1-3
                    img(src="images/mobile-4.jpg").section-img-large
                div.uk-width-small-1-1.uk-width-medium-2-3.uk-large-2-3
                    h3.section-title НАШИ ПРЕИМУЩЕСТВА
                    p.section-text.devider-top-left
                    ul
                        li профессиональный подход, предполагающий максимальные результаты и выгоды для клиентов;
                        li только верстка высокого качества, обеспечивающая корректную работу страниц на любых устройствах;
                        li комфортные для клиента варианты сотрудничества, постоянное поддержание связи;
                        li ответственность и строгое соблюдение сроков;
                        li отсутствие предоплаты для постоянных заказчиков.

    section.callback-section.section.section-light-font
        .uk-container.uk-container-center
            .uk-grid.uk-grid-margin.uk-grid-width-small-1-1.uk-grid-width-medium-1-2(data-uk-grid-margin)
                div
                    form.uk-form.form-transparent
                        .uk-form-row
                            input(type="text" placeholder="Ваше имя" required).uk-form-large.uk-form-width-large
                        .uk-form-row
                            input(type="email" placeholder="Ваш E-mail" required).uk-form-large.uk-form-width-large
                        .uk-form-row
                            input(type="text" placeholder="Ваш телефон" required).uk-form-large.uk-form-width-large
                        .uk-form-row
                            textarea(placeholder="Сообщение").uk-form-large.uk-form-width-large
                        .uk-form-row
                            input(type="submit" value="Отправить").uk-form-large
                div
                    small.section-small-text-light УБЕДИЛИ? ТОГДА ЗА РАБОТУ!
                    p.section-text-light Мы готовы приступить к верстке макета сайта, верстке страниц и интерфейса.
                    h3.section-title-light ОТПРАВЬТЕ ЗАЯВКУ
                    p.section-text-light на html-вёрсткуи получите SEO-оптимизацию кода бесплатно!
                    p.section-text-light.devider-top-left-light До конца акции осталось: