extends layouts/app.pug

block content
    div.-margin-top-30
        .uk-container.uk-container-center
            .uk-grid.uk-grid-width-small-1-1.uk-grid-width-medium-1-2
                div
                    h2.page-title ПОЛЕЗНОЕ
                div.uk-text-right
                    ul.uk-breadcrumb
                        li: a(href="#") Главная
                        li.uk-active: span Полезное

    section.section
        .uk-container.uk-container-center
            .uk-grid.uk-grid-large(data-uk-grid-margin)
                div.uk-width-small-1-1.uk-width-medium-4-6
                    article.uk-article
                        h4.uk-article-title: a(href="#") ВЕРСТКА ЭЛЕКТРОННЫХ ПИСЕМ ДЛЯ РАССЫЛКИ
                        p.uk-article-lead Электронные почтовые рассылки – отличный маркетинговый инструмент для продвижения товаров или услуг. Адаптивная HTML верстка писем позволяет сделать рассылку максимально эффективной, удобной для прочтения на разных устройствах.
                        p.uk-article-meta.uk-text-right.-margin-top-20: a(href="#").uk-button.uk-button-primary.uk-button-large Подробнее
                    article.uk-article
                        h4.uk-article-title: a(href="#") ВЕРСТКА ЭЛЕКТРОННЫХ ПИСЕМ ДЛЯ РАССЫЛКИ
                        p.uk-article-lead Электронные почтовые рассылки – отличный маркетинговый инструмент для продвижения товаров или услуг. Адаптивная HTML верстка писем позволяет сделать рассылку максимально эффективной, удобной для прочтения на разных устройствах.
                        p.uk-article-meta.uk-text-right.-margin-top-20: a(href="#").uk-button.uk-button-primary.uk-button-large Подробнее
                    article.uk-article
                        h4.uk-article-title: a(href="#") ВЕРСТКА ЭЛЕКТРОННЫХ ПИСЕМ ДЛЯ РАССЫЛКИ
                        p.uk-article-lead Электронные почтовые рассылки – отличный маркетинговый инструмент для продвижения товаров или услуг. Адаптивная HTML верстка писем позволяет сделать рассылку максимально эффективной, удобной для прочтения на разных устройствах.
                        p.uk-article-meta.uk-text-right.-margin-top-20: a(href="#").uk-button.uk-button-primary.uk-button-large Подробнее
                    article.uk-article
                        h4.uk-article-title: a(href="#") ВЕРСТКА ЭЛЕКТРОННЫХ ПИСЕМ ДЛЯ РАССЫЛКИ
                        p.uk-article-lead Электронные почтовые рассылки – отличный маркетинговый инструмент для продвижения товаров или услуг. Адаптивная HTML верстка писем позволяет сделать рассылку максимально эффективной, удобной для прочтения на разных устройствах.
                        p.uk-article-meta.uk-text-right.-margin-top-20: a(href="#").uk-button.uk-button-primary.uk-button-large Подробнее
                    article.uk-article
                        h4.uk-article-title: a(href="#") ВЕРСТКА ЭЛЕКТРОННЫХ ПИСЕМ ДЛЯ РАССЫЛКИ
                        p.uk-article-lead Электронные почтовые рассылки – отличный маркетинговый инструмент для продвижения товаров или услуг. Адаптивная HTML верстка писем позволяет сделать рассылку максимально эффективной, удобной для прочтения на разных устройствах.
                        p.uk-article-meta.uk-text-right.-margin-top-20: a(href="#").uk-button.uk-button-primary.uk-button-large Подробнее
                    article.uk-article
                        h4.uk-article-title: a(href="#") ВЕРСТКА ЭЛЕКТРОННЫХ ПИСЕМ ДЛЯ РАССЫЛКИ
                        p.uk-article-lead Электронные почтовые рассылки – отличный маркетинговый инструмент для продвижения товаров или услуг. Адаптивная HTML верстка писем позволяет сделать рассылку максимально эффективной, удобной для прочтения на разных устройствах.
                        p.uk-article-meta.uk-text-right.-margin-top-20: a(href="#").uk-button.uk-button-primary.uk-button-large Подробнее
                    article.uk-article
                        h4.uk-article-title: a(href="#") ВЕРСТКА ЭЛЕКТРОННЫХ ПИСЕМ ДЛЯ РАССЫЛКИ
                        p.uk-article-lead Электронные почтовые рассылки – отличный маркетинговый инструмент для продвижения товаров или услуг. Адаптивная HTML верстка писем позволяет сделать рассылку максимально эффективной, удобной для прочтения на разных устройствах.
                        p.uk-article-meta.uk-text-right.-margin-top-20: a(href="#").uk-button.uk-button-primary.uk-button-large Подробнее

                    .section-info-block-light
                        .-boxed
                            p.-text-medium ОСТАВЬТЕ ЗАЯВКУ НА ВЁРСТКУ СО СКИДКОЙ 15%
                            p: a(href="#form-contact" data-uk-smooth-scroll="{offset: 90}").uk-button.uk-button-primary.uk-button-large Оставить заявку

                div.uk-width-small-1-1.uk-width-medium-2-6
                    .-margin-bottom-20
                        a(href="#") Верстка электронных писем для рассылки
                    .-margin-bottom-20
                        a(href="#") Верстка мобильной версии сайта
                    .-margin-bottom-20
                        a(href="#") Тестирование верстки: проверка качества работы верстальщика
                    .-margin-bottom-20
                        a(href="#") Курсы по HTML верстке сайтов
                    .-margin-bottom-20
                        a(href="#") Как работает наша команда верстальщиков?
                    .-margin-bottom-20
                        a(href="#") Для чего нужен верстальщик сайтов?
                    .-margin-bottom-20
                        a(href="#") Техническое задание на верстку сайта
                    .-margin-bottom-20
                        a(href="#") 15 сайтов с высоким уровнем UX (взаимодействия с пользователем)

                    .-boxed-small-dark#form-contact
                        p.-text-light.-text-upper ОСТАВЬТЕ ЗАЯВКУ НА ОБРАТНЫЙ ЗВОНОК И ПОЛУЧИТЕ ПОЛНОЕ ТЕСТИРОВАНИЕ В ПОДАРОК!
                        form.uk-form.form-transparent-full
                            .uk-form-row
                                input(type="text" placeholder="Ваше имя" requried).uk-form-large.uk-form-width-large
                            .uk-form-row
                                input(type="text" placeholder="Ваш номер" requried).uk-form-large.uk-form-width-large
                            .uk-form-row
                                input(type="submit" value="Отправить").not-round.uk-form-width-large.small-submit.submit-dark