@import _fonts

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  outline: none

html, body
  font-size: 16px
  font-family: 'Raleway', serif
  color: #4a4a4a

h1, h2, h3, h4, h5, h6
  font-family: 'Raleway', serif
  font-weight: 600

a
  color: #2897bd
  text-decoration: none
  -webkit-transition: all 500ms ease
  -moz-transition: all 500ms ease
  transition: all .3s ease

  &:hover
    color: #4a4a4a
    text-decoration: none
.-boxed
  padding: 0 30px

.-boxed-small-dark
  background: #000
  padding: 15px 10px

.-text-letter-large
  letter-spacing: 2px

.-text-upper
  text-transform: uppercase
  
.-margin-top-10
  margin-top: 10px!important

.-margin-top-20
  margin-top: 20px!important

.-margin-top-30
  margin-top: 30px!important

.-margin-top-40
  margin-top: 40px!important

.-margin-top-50
  margin-top: 50px!important

.-margin-bottom-10
  margin-bottom: 10px!important

.-margin-bottom-20
  margin-bottom: 20px!important

.-margin-bottom-30
  margin-bottom: 30px!important

.-margin-bottom-40
  margin-bottom: 40px!important

.-margin-bottom-50
  margin-bottom: 50px!important

.-text-light
  color: #fff

.-text-large
  font-size: 50px

.-text-medium
  font-size: 19px
  font-weight: 400
  letter-spacing: 1px
  text-transform: uppercase
  line-height: 36px

.-color-medium
  color: #828282

.uk-container
  max-width: 980px

.uk-button
  -webkit-border-radius: 3px
  -moz-border-radius: 3px
  border-radius: 3px
  transition: all 500ms ease
  font-size: 14px

.uk-button-primary
  background-color: #2eb6d1
  -moz-transition: all 500ms ease
  -webkit-transition: all 500ms ease
  transition: all 500ms ease

  &:hover
    background-color: #2897bd

.uk-form

  .uk-form-width-large
    width: 100%

  textarea
    min-height: 150px

  input[type=submit],
  button[type=submit]
    border-radius: 5px
    background-color: #2eb6d1
    opacity: 1
    padding: 15px 35px
    text-align: center
    color: #fff
    border: none
    height: auto
    cursor: pointer
    transition: all .3s ease-in-out

    &:hover
      background: #2897bd

    &.not-round
      border-radius: 0

    &.small-submit
      padding: 5px 10px

    &.submit-dark
      background-color: #4a4a4a

      &:hover
        background: #fff
        color: #000

  input[type=text],
  input[type=password],
  input[type=email],
  input[type=url],
  input[type=search],
  input[type=tel],
  input[type=number],
  input[type=datetime],
  input[type=datetime-local],
  input[type=date],
  input[type=month],
  input[type=time],
  input[type=week],
  input[type=color],
  select,
  textarea
    font-size: 14px

.uk-article
  border-bottom: 1px solid rgba(173, 175, 179, 0.2)
  padding-bottom: 30px

  .uk-article-title
    color: #4a4a4a
    font-size: 19px
    line-height: 30px
    font-weight: 600
    text-transform: uppercase

    a
      transition: all .3s ease

      &:hover
        color: #2897bd

  .uk-article-lead
    color: #4a4a4a
    font-size: 16px
    line-height: 21px
    font-weight: 300
    letter-spacing: 0px
    text-indent: 0px
    
  .uk-article-meta
    .uk-button
      font-size: 13px
      text-transform: uppercase

  &:last-child
    border-bottom: 0

.button-dark
  background-color: #4a4a4a
  color: #fff
  font-size: 14px

  &:hover
    background-color: #fff
    color: #4a4a4a

.unstyled-link
  color: #828282
  font-size: 16px
  text-decoration: none

  &:hover
    color: #2897bd
    text-decoration: none

.circle
  display: inline-block
  width: 80px
  height: 80px
  border-radius: 50%
  line-height: 80px

  img
    max-width: 40%

  &:hover
    background: #2eb6d1

.circle-dark
  background: #4a4a4a

.devider-top-center
  &::before
    display: block
    content: ''
    width: 10%
    height: 2px
    margin: 15px auto 20px
    background-color: #2eb6d1

.devider-top-left
  &::before
    display: block
    content: ''
    width: 10%
    height: 2px
    margin: 15px 0 20px
    background-color: #2eb6d1

.devider-top-left-light
  &::before
    display: block
    content: ''
    width: 10%
    height: 2px
    margin: 15px 0 20px
    background-color: #fff

.devider-bottom-center
  &::after
    display: block
    content: ''
    width: 10%
    height: 2px
    margin: 15px auto 20px
    background-color: #2eb6d1

.form-transparent-full
  input[type=text],
  input[type=password],
  input[type=email],
  input[type=url],
  input[type=search],
  input[type=tel],
  input[type=number],
  input[type=datetime],
  input[type=datetime-local],
  input[type=date],
  input[type=month],
  input[type=time],
  input[type=week],
  input[type=color],
  select,
  textarea
    background: rgba(0,0,0,0)
    border: 1px solid #4a4a4a
    font-size: 12px
    color: #fff!important

    &:focus
      background: rgba(0,0,0,0)

.form-transparent
  background-color: rgba(255, 255, 255, 0.5)
  padding: 15px

  input[type=text],
  input[type=password],
  input[type=email],
  input[type=url],
  input[type=search],
  input[type=tel],
  input[type=number],
  input[type=datetime],
  input[type=datetime-local],
  input[type=date],
  input[type=month],
  input[type=time],
  input[type=week],
  input[type=color],
  select,
  textarea
    border: 1px solid #f2f2f2
    background-color: rgba(246, 246, 246, 0.49)
    font-size: 14px

    &:focus,
    &:hover
      background-color: rgba(246, 246, 246, 0.79)

.section
  padding: 60px 0
  position: relative
  z-index: 3

  &.section-devided
    border-bottom: 1px solid #dedede

.section-info-block-light
  padding: 35px 0
  background-color: #f2f2f2
  border-top: 1px solid #dedede
  border-bottom: 1px solid #dedede

.section-info-block-dark
  background-color: #292828
  padding: 35px 0

.section-cover
  background-size: cover
  background-repeat: no-repeat

.section-cover-fixed
  background-size: cover
  background-repeat: no-repeat
  background-attachment: fixed

.section-overlay
  background: rgba(0,0,0,.45)
  width: 100%
  height: 100%
  position: relative
  padding: 60px 0

.section-img-small
  max-width: 50%

  @media only screen and (max-width : 960px)
    max-width: 70%

  @media only screen and (max-width : 768px)
    max-width: 80%

.section-img-medium
  max-width: 70%

.section-img-large
  max-width: 100%

  @media only screen and (max-width : 960px)
    max-width: 80%

  @media only screen and (max-width : 768px)
    max-width: 100%

.section-small-text
  color: #2eb6d1
  font-size: 14px
  text-transform: uppercase
  display: block

.section-small-text-light
  color: #fff
  font-size: 14px
  text-transform: uppercase
  display: block

.section-title
  margin: 0
  color: #4a4a4a
  font-size: 25px
  line-height: 36px
  font-weight: 600
  letter-spacing: 1px
  text-transform: uppercase

.section-title-light
  margin: 0
  color: #fff
  font-size: 25px
  line-height: 36px
  font-weight: 600
  letter-spacing: 1px
  text-transform: uppercase

.section-title-small
  color: #4a4a4a
  font-size: 19px
  font-weight: 400

.section-title-small-light
  color: #fff
  font-size: 19px
  font-weight: 400

.section-text
  color: #4a4a4a
  line-height: 21px
  font-size: 16px
  font-weight: 300
  letter-spacing: 0
  text-indent: 0

.section-text-light
  color: #fff
  line-height: 21px
  font-size: 16px
  font-weight: 300
  letter-spacing: 0
  text-indent: 0

.section-small-info
  margin: 0 auto

  @media only screen and (max-width : 768px)
    width: 100%

.section-small
  padding: 30px 0

.header
  padding: 25px 0
  background: #fff

  &.active
    -webkit-box-shadow: 0 0 5px #000
    -moz-box-shadow: 0 0 5px #000
    box-shadow: 0 0 5px #000

  .header-left

    @media only screen and (max-width : 960px)
      text-align: right

  .logo
    width: 80%

  .uk-navbar
    background: transparent
    margin-top: 12px

    li
      a
        line-height: 1
        height: auto
        color: #4a4a4a
        text-decoration: none
        background: transparent
        padding: 0
        font-size: 13px
        margin: 0 30px 0 0
        text-transform: uppercase
        cursor: pointer

        &:hover
          color: #2897bd

        > i
          float: right
          font-size: 18px
          margin: -2px 0 0 5px
          color: #4a4a4a

      &.uk-active
        a
          color: #2897bd

      &:last-child
        a
          margin: 0


  .uk-dropdown
    top: 42px!important
    background: #fff

    ul
      li
        padding: 10px 15px

  .uk-navbar-toggle
    height: auto
    padding: 0

.header-info

  .header-info-title
    color: #fff
    width: 90%
    margin: 0 auto
    text-transform: uppercase
    font-size: 30px
    font-weight: 600

    @media only screen and (max-width : 768px)
      width: 100%

  .header-info-text
    color: #fff
    width: 90%
    margin: 0 auto
    font-size: 16px
    line-height: 21px
    font-weight: 400

    @media only screen and (max-width : 768px)
      width: 100%

.uk-offcanvas-bar
  background: #fff

.footer
  position: relative
  z-index: 4

  .footer-top
    background-color: #292828
    color: #828282

  .footer-info-title
    color: #b3b4b5
    font-size: 14px
    font-weight: 700
    letter-spacing: 2px

  .footer-info
    color: #828282
    font-size: 16px
    > a
      margin-left: 10px

  .footer-bottom
    background-color: #212121

    .uk-navnar
      ul
        li
          a
            height: 20px
            line-height: 20px
            cursor: pointer
            color: #828282
            background: transparent
            font-size: 10px
            border-right: 1px solid rgba(173, 175, 179, 0.09)

          &:last-child
            a
              border-right: none

          &:hover
            a
              background: transparent
              color: #339ce1

          &.uk-active
            a
              background: transparent
              color: #339ce1

    .copyright
      font-size: 13px
      line-height: 20px
      color: #828282

.our-services
  background: url("../images/services-bg.png")

  .article
    width: 70%
    display: inline-block

    p
      font-weight: 700
      text-transform: uppercase
      color: #4a4a4a

    @media only screen and (max-width : 768px)
      width: 100%
      
.callback-section
  background-image: url("../images/callback-bg.jpg")
  background-size: cover
  background-position: top center

.uk-breadcrumb
  > li
    font-size: 13px
    a
      color: #2eb6d1
      font-weight: 700
      text-decoration: none
      font-size: 13px

    &:nth-child(n+2)
      &:before
        content: '>'

.page-title
  color: #4a4a4a
  font-size: 18px
  text-align: left
  font-weight: 600

#types-switcher
  &.uk-subnav
    li
      a
        color: white
        font-size: 13px
        font-weight: 400
        text-transform: uppercase
        border-radius: 1px
        background-color: rgba(173, 175, 179, 0.43)
        -moz-transition: all 500ms ease
        -webkit-transition: all 500ms ease
        transition: all 500ms ease
        padding: 8px 30px

        &:hover
          background-color: #2eb6d1

      &.uk-active
        a
          background-color: #2eb6d1

.types-switcher
  transition: height 0.4s ease-in-out

  .title-text
    color: #4a4a4a
    font-size: 14px
    font-weight: 700
    text-decoration: none
    text-transform: uppercase
    margin: 0

  small
    margin-top: 10px
    color: #c4c4c4
    font-size: 12px
    text-transform: uppercase

  .uk-panel
    padding-bottom: 40px

  .uk-panel-teaser
    img
      transition: transform 0.3s ease-in-out

    .uk-overlay
      > figcaption
        > div
          display: block
          width: 100%

      a
        color: white
        font-size: 13px
        font-weight: 400
        text-transform: uppercase
        border-radius: 1px
        background-color: #2eb6d1
        -moz-transition: all 500ms ease
        -webkit-transition: all 500ms ease
        transition: all 500ms ease
        padding: 8px 30px
        text-decoration: none

        &:hover
          background-color: #2897bd

      &:hover
        img
          -webkit-transform: scale(1.2)
          -moz-transform: scale(1.2)
          -ms-transform: scale(1.2)
          -o-transform: scale(1.2)
          transform: scale(1.2)

